absl-py
aiohttp
aiosignal
alembic
antlr4-python3-runtime
appdirs
asteroid-filterbanks
astroid
astunparse
async-timeout
attrs
audioread
av
black
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
coloredlogs
colorlog
contourpy
crepe
ctranslate2
cycler
dataclasses
dataclasses-json
decorator
demucs
dill
docopt
dora-search
einops
exceptiongroup
faster-whisper
ffmpeg-python
filelock
flatbuffers
fonttools
frozenlist
fsspec[http]
future
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
hmmlearn
huggingface-hub
humanfriendly
hyperpyyaml
idna
imageio
iniconfig
inputimeout
isort
jinja2
joblib
jsonpickle
julius
keras
keras-preprocessing
kiwisolver
lameenc
langcodes
language-data
levenshtein
libclang
librosa
lightning
lightning-utilities
llvmlite
mako
marisa-trie
markdown
markdown-it-py
markupsafe
marshmallow
matplotlib
mccabe
mdurl
mido
more-itertools
mpmath
multidict
music21
musicbrainzngs
mypy-extensions
networkx
nltk
num2words
numba
numpy
oauthlib
omegaconf
onnxruntime
openunmix
opt-einsum
optuna
packaging
pandas
pathspec
pillow
platformdirs
pluggy
pooch
pretty-midi
primepy
protobuf
pyannote-audio
pyannote-core
pyannote-database
pyannote-metrics
pyannote-pipeline
pyasn1
pyasn1-modules
pycparser
pydub
pygments
pyhyphen-reloaded
pylint
pyparsing
pyreadline3
pytest
python-dateutil
python-levenshtein
pytorch-lightning
pytorch-metric-learning
pytz
pyyaml
rapidfuzz
regex
requests
requests-oauthlib
resampy
retrying
rich
rsa
ruamel-yaml
ruamel-yaml-clib
safetensors
scikit-learn
scipy
semver
sentencepiece
shellingham
six
sortedcontainers
soundfile
speechbrain
sqlalchemy
submitit
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardx
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tokenizers
tomli
tomlkit
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
torch-audiomentations
torch-pitch-shift
torchmetrics
tqdm
transformers
treetable
typer
typing-extensions
typing-inspect
tzdata
unidecode
urllib3
webcolors
werkzeug
wheel
whisperx @ git+https://github.com/m-bain/whisperx.git
wrapt
yarl
yt-dlp
